# Project exclude paths
/VelocityCommandForward-Paper/.gradle/
/VelocityCommandForward-Paper/build/
/VelocityCommandForward-Paper/build/classes/java/main/
/VelocityCommandForward-Velocity/.gradle/
/VelocityCommandForward-Velocity/build/
/VelocityCommandForward-Velocity/build/classes/java/main/
/.idea